# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# mqt pre-commit lint check files
.eslintrc.json
.flake8
.pre-commit-config-optional.yaml
.pre-commit-config.yaml
.pylintrc
.pylintrc-optional
